<%= form_for(@produto, remote: true) do |f| %>
<table class='tabela_informacoes'>
	<td colspan='4' class="header">
		<div class="section_header">
			<%= image_submit_tag('botoes/salvar.png', style: 'float:right', id: 'submeter') %>
			<%= image_tag('loading.gif', id: 'submetendo', style: 'display:none; float: right;') %>
			<h2><%= @produto.class.model_names[:human_singular] %></h2>
		</div>
	</td>		
	<% if @produto.errors.any? %>
	<tr><td colspan=4>
		<%= render(partial: 'crud/erros_registro', locals: {r: @produto}) %>
	</td></tr>
	<% end %>		
	<tr>
		<td class="titulo"><%= f.label(:nome) %></td>
		<td><%= f.text_field(:nome) %></td>
		<td class="titulo"><%= f.label(:data_do_cadastro) %></td>
		<td><%= f.text_field(:data_do_cadastro, value: l(@produto.data_do_cadastro || Date.today)) %></td>
		  
	</tr>
	<tr>
		<td class="titulo"><%= f.label(:observacao) %></td>
		<td colspan='3'><%= f.text_area(:observacao, rows: 2) %></td>
	</tr>
	<% if @produto.persisted? %>
	<tr><td colspan='4'>
		<%= link_to(t('crud.excluir'), @produto, method: 'delete', confirm: t('crud.confirma_excluir')) %>
	</td></tr>
	<% end %>
</table>
<% end %>

<script type="text/javascript" charset="utf-8">
	$('#produto_data_do_cadastro').mask('99/99/9999');
</script>
